<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Ordem de Serviço</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'listar_clientes' %}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'listar_produtos' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'listar_ordens' %}">Ordens Serviço</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-danger" href="{% url 'deslogar' %}" role="button">
                            <i class="bi bi-power"></i> Sair
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>